/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
/composer.phar
/.idea/
#/src/ExtendBundle/Controller/*.php
#/src/ExtendBundle/Entity/*.php
#/src/ExtendBundle/Repository/*.php
#/src/ExtendBundle/Action/*/*.php
#/src/ExtendBundle/Action/*.php
#/web/themes/custom/
/src/DemoBundle/Controller/*.php
/web/uploads/
.sonar
sonar-project.properties
