<div style="margin:30px auto; border:2px solid #eee; max-width: 500px; padding:10px 20px; text-align: center">
    <h1>Access Denied!</h1>
    <hr>
    <p>
        Go to <a href="{{ path('index_page') }}">homepage</a>!
    </p>
</div>
