# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt
    default_timezone:  America/Los_Angeles
    front_theme_id:    /web/themes/core/front/views/
    admin_theme_id:    /web/themes/core/admin/views/
    system_theme_id:   /web/themes/core/system/views/
    ajax_user_register_page:   true
    ajax_user_login_page: true
    redirect_after_login:   /user

    # Firebase
    #firebase_api_key: ~
    #firebase_auth_domain: ~
    #firebase_database_url: ~
    #firebase_storage_bucket: ~
    #firebase_messaging_sender_id: ~
