{% extends '@front/page.html.twig' %}

{% block content %}
    <div class="jumbotron">
        <h1>404</h1>
        <p class="lead">Page is not found!</p>
        <p><a class="btn btn-sm btn-success" href="{{ path('index_page') }}" role="button">Go to Home page</a></p>
    </div>
{% endblock %}