<div class="header clearfix">
    <nav>
        <ul class="nav nav-pills pull-right">
            {% for item in menus.main_menus??[] %}
                {% if (item.active??0) %}
                    <li role="presentation" class="active"><a href="{{ item.link }}">{{ item.title }}</a></li>
                {% else %}
                    <li role="presentation"><a href="{{ item.link }}">{{ item.title }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
    <h3 class="text-muted"><b>Demo</b> Theme</h3>
</div>