{% extends '@admin/page.html.twig' %}

{% block stylesheets %}
    <link href="/web/themes/core/default_admin/css/admin/admin_page.css" rel="stylesheet">
{% endblock %}
{% block content %}
    <h1>admin_page</h1>
{% endblock %}
{% block javascripts %}
    <script src="/web/themes/core/default_admin/js/admin/admin_page.js"></script>
{% endblock %}